/* DressCode.css */

/* Card wrapper */
.dresscode-card {
  @apply mb-8;
  background-color: var(--color-primary-600)
}

/* Flex layout inside card */
.dresscode-content {
  @apply flex items-start gap-6;
}



/* Note box */
.dresscode-note {
  @apply p-4 rounded-lg;
  background-color: var(--color-primary-50); /* light rose bg */
}

.dresscode-note p {
  @apply text-sm;
  color: var(--color-primary-700);
}

.dresscode-note strong {
  font-weight: 600;
}

.dresscode-icon svg {
  @apply w-10 h-10;
  @apply flex-shrink-0;
}