/* src/styles/password-gate.css */

.pg-background {
  background: linear-gradient(
    135deg,
    var(--color-primary-50),
    var(--color-primary-100),
    var(--color-primary-200)
  );
}

.pg-card {
  background-color: var(--color-primary-300);
  border-color: var(--color-primary-600);
}

.pg-primary {
  background-color: var(--color-primary-600);
}

.pg-primary:hover {
  background-color: var(--color-primary-700);
}

.pg-text-primary {
  color: var(--color-primary-900);
}

.pg-text-secondary {
  color: var(--color-primary-700);
}

.pg-text-muted {
  color: var(--color-primary-600);
}

.pg-error {
  color: var(--error-500);
}

.pg-heart {
    color: var(--color-primary-600);
}

.pg-heart-container {
    background-color: var(--color-primary-200);
}