/* commons.css */



.detail-card {
    @apply mb-8;
    background-color: var(--card-color-light) !important;
}

.detail-card h2 {
  @apply text-2xl font-serif;
  color: var(--color-primary-800);
}
/* .detail-card:hover {
    background-color: var(--card-color-hover) !important;
} */

/* Card title */
.detail-item-title {
  @apply text-2xl font-serif mb-4 flex items-center gap-3;
  color: var(--color-primary-700, #1f2937);
}

.detail-item-subtitle {
  @apply text-lg font-medium mb-2;
  color: var(--color-primary-600); 
}

/* Icon inside title */
.detail-item-icon {
  @apply w-10 h-10;
  @apply flex-shrink-0;
  color: var(--color-primary-600);
}

/* Paragraph text */
.detail-item-text, .detail-item-paragraph {
  @apply mb-3;
  @apply flex-grow;
  color: var(--color-primary-500); /* gray-900 equivalent */
  /* text-align: left; */
}

/* List */
.detail-item-list {
  @apply space-y-2 text-sm;
  color: var(--color-primary-600); /* gray-900 equivalent */
}


.detail-item-description {
  @apply mb-4;
  color: var(--color-primary-900); /* gray-600 */
}

/* Make Photography lists like Travel */
.detail-card ul {
  @apply list-disc pl-5;
}

.detail-card li {
  color: var(--color-primary-500);
}

.detail-card li strong {
  color: var(--color-primary-700);
}

.detail-card li::marker {
  color: var(--color-primary-700);
}
