name: Frontend build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: clean install
        working-directory: ./frontend
        run: npm ci
      - name: lint
        run: npm run lint
        working-directory: ./frontend
      - name: build
        run: npm run build --if-present
        working-directory: ./frontend
      - name: unit tests
        run: npm test
        working-directory: ./frontend